<div class="page padding-top__60px">
	<div class="page__head">
		<div>
			<h3 class="margin-bottom__8px">Teams</h3>
			<p class="page__head--sub">View and manage your team members.</p>
		</div>
		<div class="page__head--search">
			<!-- <app-search (searchInput)="searchTeam($event)" (clear)="fetchTeamMembers()" searchPlaceholder="Search team member here"></app-search> -->

			<!-- <button class="button button__small button__primary margin-left__24px" (click)="showInviteTeamMemberModal = true; currentId = ''">Add team member</button> -->
		</div>
	</div>
</div>



<div class="page" *ngIf="noData && !loading">
	<div class="page--empty-state">
		<div class="page--empty-state--img">
			<img src="/assets/img/team-empty-img.svg" alt="add team empty" />
		</div>
		<h4>You have no one on your team yet</h4>
		<p>You can invite team members to join your organization and assign them roles to groups</p>
		<button class="primary" (click)="showInviteTeamMemberModal = true">Add team member</button>
	</div>
</div>

<div
	class="_overlay"
	*ngIf="showInviteTeamMemberModal || showSuccessModal || showDeactivateModal || showCreateGroupModal"
	(click)="showInviteTeamMemberModal = false; showSuccessModal = false; showDeactivateModal = false; showCreateGroupModal = false; showTeamGroupDropdown = false"
></div>
<div class="modal modal__right" *ngIf="showCreateGroupModal">
	<!-- <app-create-group (closeModal)="closeCreateGroupModal($event)"></app-create-group> -->
</div>
<div class="modal modal__right" *ngIf="showInviteTeamMemberModal">
	<div class="modal--head">
		<h1>Add Team Member</h1>
		<button class="modal--close button__clear" (click)="showInviteTeamMemberModal = false">
			<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
		</button>
	</div>
	<div class="modal--body flex flex__column flex__justify-center flex__align-items-center" *ngIf="!groups.length">
		<img src="/assets/img/no-group.svg" class="margin-bottom__24px" alt="no project" />
		<p class="font__20px color__black font__weight-600 text--center margin-bottom__8px width-unset-max">Create a project to add team member</p>
		<p class="color__grey font__14px text--center margin-bottom__32px">You currently do not have any project and need to have one to add a team member. Create one with the button below</p>
		<button class="button button__primary" (click)="showCreateGroupModal = true; showInviteTeamMemberModal = false">Create Project</button>
	</div>
	<div class="modal--body" *ngIf="groups.length">
		<!-- not available yet  -->
		<!-- <div class="user-details--head">
			<div>
				<img src="/assets/img/mimoji.png" alt="profile image" />
				<button class="white">Edit Photo</button>
			</div>

			<div class="drop-down--container">
				<button class="clear has-icon" (click)="showTeamMemberDropdown = !showTeamMemberDropdown"><img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" /></button>

				<div class="drop-down user-dropdown" *ngIf="showTeamMemberDropdown">
					<ul>
						<li>
							<button class="danger clear">Deactivate team member</button>
						</li>
					</ul>
				</div>
			</div>
		</div> -->

		<form [formGroup]="inviteUserForm" (ngSubmit)="inviteUser()">
			<h3>Basic info</h3>
			<div class="color__grey font__14px font__weight-400 margin-bottom__16px">Invite other members of your team to your organization.</div>

			<div class="flex flex__justify-between">
				<div class="input smaller">
					<input type="text" id="first-name" formControlName="firstname" [ngClass]="{ danger: inviteUserForm.controls.firstname.touched && inviteUserForm.controls.firstname.invalid }" required />
					<label for="first-name">First Name</label>
					<div class="input__error input__error__danger" *ngIf="inviteUserForm.controls.firstname.touched && inviteUserForm.controls.firstname.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Firstname is required</span>
					</div>
				</div>

				<div class="input smaller">
					<input type="text" id="last-name" formControlName="lastname" [ngClass]="{ danger: inviteUserForm.controls.lastname.touched && inviteUserForm.controls.lastname.invalid }" required />
					<label for="last-name">Last Name</label>
					<div class="input__error input__error__danger" *ngIf="inviteUserForm.controls.lastname.touched && inviteUserForm.controls.lastname.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Lastname is required</span>
					</div>
				</div>
			</div>

			<div class="input">
				<input type="email" id="email" formControlName="email" [ngClass]="{ danger: inviteUserForm.controls.email.touched && inviteUserForm.controls.email.invalid }" required />
				<label for="email">Email</label>
				<div class="input__error input__error__danger" *ngIf="inviteUserForm.controls.email.touched && inviteUserForm.controls.email.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Please enter a valid email</span>
				</div>
			</div>

			<div class="dropdown dropdown--full-100">
				<div class="input">
					<input
						type="text"
						id="group"
						[(ngModel)]="noOfSelectedGroups"
						[ngModelOptions]="{ standalone: true }"
						class="editMode"
						readonly
						(click)="showTeamGroupDropdown = !showTeamGroupDropdown"
						[ngClass]="{ danger: noOfSelectedGroups && selectedGroups?.length == 0 }"
					/>
					<label for="group">Select project</label>

					<div class="input__error input__error__danger" *ngIf="noOfSelectedGroups && selectedGroups?.length == 0">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Please select at least 1 project</span>
					</div>
				</div>
				<div class="dropdown__menu dropdown__menu__form with-padding large" [ngClass]="{ show: showTeamGroupDropdown }">
					<div class="input__search">
						<img src="/assets/img/search-icon.svg" alt="search icon" />
						<input type="search" placeholder="Search projects here" (input)="searchGroup($event)" />
					</div>
					<div *ngIf="filteredGroups.length">
						<div class="dropdown__menu__item" *ngFor="let group of filteredGroups">
							<label [for]="group.uid">{{ group.name }}</label>
							<input type="checkbox" name="app" [id]="group.uid" [checked]="group.selected" (input)="selectGroup(group)" />
						</div>
					</div>
				</div>
			</div>
			<div class="input">
				<select name="role" id="role" formControlName="role" [ngClass]="{ danger: inviteUserForm.controls.role.touched && inviteUserForm.controls.role.invalid }" required>
					<option value="Admin">Admin</option>
					<option value="Dev">Dev</option>
				</select>
				<label for="role">Select Role</label>
				<div class="input__error input__error__danger" *ngIf="inviteUserForm.controls.role.touched && inviteUserForm.controls.role.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Please select a role</span>
				</div>
			</div>
		</form>
	</div>

	<div class="modal--footer modal--footer__with-shadow" *ngIf="filteredGroups.length">
		<button class="button button__white margin-right__16px" (click)="showInviteTeamMemberModal = false">Discard</button>
		<button class="button button__primary button--align-self" [disabled]="invitingUser" (click)="inviteUser()">{{ invitingUser ? 'Inviting User..' : 'Send Invite' }}</button>
	</div>
</div>

<div class="modal modal__center" *ngIf="showSuccessModal">
	<div class="modal--body flex flex__column flex__justify-center flex__align-items-center deactivate">
		<img width="140px" src="/assets/img/success.gif" alt="success animation" />
		<p class="margin-top__12px margin-bottom__32px font__16px color__grey font__weight-400">Team member created succesfully! We sent them an email for onboarding instructions.</p>
		<button class="button button__white" (click)="showSuccessModal = false">Close</button>
	</div>
</div>
<div class="modal modal__center" *ngIf="showDeactivateModal">
	<div class="modal--body flex flex__column flex__justify-center flex__align-items-center deactivate">
		<img src="/assets/img/warning.gif" class="img" alt="warning" />
		<p class="font__20px color__black font__weight-600 margin-bottom__8px margin-top__16px text--center no-width">
			Are you sure you want to deactivate
			<span class="text__capitalize font__weight-600">“{{ selectedMember?.firstname }} {{ selectedMember?.lastname }}”</span>
			?
		</p>
		<p class="color__grey font__14px font__weight-500 margin-bottom__12px">This action is irrevesible</p>
		<button class="button button__deactivate" [disabled]="deactivatingUser" (click)="deactivateMember()">{{ deactivatingUser ? 'Deactivating...' : 'Yes, Deactivate' }}</button>
		<button class="button__primary button__clear margin-top__28px" (click)="showDeactivateModal = false">No, Cancel</button>
	</div>
</div>
